body {
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  display: inline;
  background-color: #212121; }

h1 {
  font-family: 'Pacifico', cursive; }

.name {
  text-align: center; }

.cv {
  padding: 0 30% 0 30%;
  position: relative; }
