@import url('https://fonts.googleapis.com/css?family=Montserrat|Pacifico');

body {
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    display:inline;
}

h1 {
    font-family: 'Pacifico', cursive;
}

.name {
    text-align: center;
}

.move-up-one {
    animation: moveup-one 3s forwards
}

.move-up-two {
    animation: moveup-two 3s forwards
}

.move-down-one {
    animation: movedown-one 3s forwards
}

.move-down-two {
    animation: movedown-two 3s forwards
}

.move-up-three {
    animation: moveup-three 3s forwards
}

.move-up-four {
    animation: moveup-four 3s forwards
}

.move-down-three {
    animation: movedown-three 3s forwards
}

.move-down-four {
    animation: movedown-four 3s forwards
}


.cv-show {
animation: moveright 1.5s forwards
}

.cv-hide {
 animation: moveleft 1.5s forwards
}

.cv {
 padding: 0 30% 0 30%;   
 position: relative;
}

.shape {
    opacity: 0.4;
    position: absolute;
    width: 300px;
    height: 300px;
    pointer-events: none;
}


.top-left-one, .top-left-two { 
    bottom:-100;
    left: -100;
    transform: skew(30deg, -40deg);
    background-color: grey;
}

.top-left-one {
    top:-120;
    right: -50;
    background-color: #ffc800 ;
}

.top-left-two {
    top:-64px;
    right: -100;
}

.top-right-one, .top-right-two {
    transform: skew(30deg, -80deg);
    opacity: 0.2;
}

.top-right-one {
    top:-500;
    right: -210px;
    background-color: hotpink;
}

.top-right-two {
    top:-500px;
    right: -230px;
    background-color: #009688;
}

.top-right-three, .top-right-four {
    transform: skew(30deg, -80deg);
    top: 0px;
    opacity: 0.2;
}
.top-right-three {
    right: 140px;
    background-color: #9e1768;
}

.top-right-four {
    right: 160px;
    background-color: #00a1ff;
}

.bottom-left-one, .bottom-left-two {
    transform: skew(30deg, -40deg);
}

.bottom-left-one { 
    bottom:-110;
    left: -50;  
    background-color:deeppink;
}

.bottom-left-two { 
    bottom:-100;
    left: -90;  
    background-color:aquamarine;
}

.arrows {
    text-align: center;
    color: #333333;    
}

.arrows > i {
    transition: all .2s ease-in;
}
.arrows > i:hover {
    cursor: pointer;
    color: #656565;    
}

@media only screen and (max-width: 600px) {
    .cv {
        padding: 10;   
    }

    .shape {
        opacity: 0.2;   
    }
}

@media only screen and (max-width: 400px) {
    .top-right-one, .top-right-two {
        opacity: 0;
    }
}

@media only screen and (max-width: 1000px) {
    .top-right-three, .top-right-four {
        opacity: 0;
    }
}



@keyframes moveleft {
    0% { left: 0px; display:block ; opacity: 100; }
    1% { opacity: 1;}
    100% { left: -30%;display:none; opacity: 0; }
}

@keyframes moveright {
    0% { left: -30%; opacity: 0; }
    99% { opacity: 1; }
    100% { left: 0; opacity: 100; }
}

@keyframes movedown-one {
    0% { top: -500;  right: -210px;}
    100% { top: -200;  right: -153px;}
}

@keyframes movedown-two {
    0% { top: -500;  right: -230px;}
    100% { top: -200;  right: -173px;}
}

@keyframes moveup-one {
    0% { top: -200;  right: -153px;}
    100% { top: -500;  right: -210px;}
}

@keyframes moveup-two {
    0% { top: -200;  right: -173px;}
    100% { top: -500;  right: -230px;}
}

@keyframes movedown-three {
    0% { top: -500;  right: 100px;}
    100% { top: 300;  right: 200px;}
}

@keyframes movedown-four {
    0% { top: 280px;  right: 220px;}
    100% { top: 0px;  right: 140px;}
}

@keyframes moveup-three {
    0% { top: 0;  right: 200px;}
    100% { top: -500;  right: 90px;}
}

@keyframes moveup-four {
    0% { top: 0;  right: 160px;}
    100% { top: -500px;  right: 60px;}
}
