@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    display:inline;
}

.name {
    text-align: center;
}

.cv-hide {
 animation: moveleft 2s forwards
}

.cv {
 padding: 0 30% 0 30%;   
 position: relative;
}

.shape {
    opacity: 0.5;
    position: absolute;
    width: 300px;
    height: 300px;
}


.top-left-one, .top-left-two { 
    bottom:-100;
    left: -100;
    transform: skew(30deg, -40deg);
    background-color: grey;
}

.top-left-one {
    top:-120;
    right: -50;
    background-color: #ffc800 ;
}


.top-left-two {
    top:-64px;
    right: -100;
}

.top-right-one, .top-right-two {
    transform: skew(30deg, -80deg);
}

.top-right-one {
    top:-300px;
    right: -110px;
    background-color: hotpink;
}

.top-right-two {
    top:-300px;
    right: -130px;
    background-color:greenyellow;
}

.bottom-left-one, .bottom-left-two {
    transform: skew(30deg, -40deg);
}

.bottom-left-one { 
    bottom:-110;
    left: -50;  
    background-color:deeppink;
}

.bottom-left-two { 
    bottom:-100;
    left: -90;  
    background-color:aquamarine;
}

@media only screen and (max-width: 600px) {
    .cv {
        padding: 0;   
    }

    .shape {
        opacity: 0.2;
    }
}

@media only screen and (min-width: 1400px) {
    .top-right-three, .top-right-four {
        transform: skew(30deg, -80deg);
        
    }
    .top-right-three {
        top: 0;
        right: 200px;
        background-color: #9e1768;
    }

    .top-right-four {
        top: 20px;
        right: 220px;
        background-color: #00a1ff;
    }

}



@keyframes moveleft {
    0% { left: 0px; display:block ; opacity: 100; }
    1% { display:block; opacity: 1;}
    100% {left: -30%;display:none ; opacity: 0;}
}